
<div class="card h-100 square-card" data-aos="{{effect}}" data-aos-delay="{{delay}}">
    <div class="card-header {{css}}">
      <p class="card-text text-white">{{subtitle}}</p>
      <h3 class="card-title"><a href="{{href}}" class="stretched-link text-decoration-none text-black">{{title}}</a></h3>
    </div>
    <div class="card-body" style="background-image: url({{src_img}});">
      {% if date %}
        <div class="card-date"><i class="fa-solid fa-calendar-days"></i> {{date}}</div>
      {% endif %}
    </div>
</div>
