<div class="card card-h100 square-card mb-3 {{css}}" style="{{style}}">
    <div class="card-body">
      <p class="card-text text-white">{{subtitle}}</p>
      <h3 class="card-title">{{title}}</h3>
    </div>
    <img src="{{src_img}}" class="card-img-bottom">
</div>
